<!DOCTYPE html>
<html>
<head>
	<title>To detect maleria infected person</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">

		.upper{border:3px solid white;border-style: ridge;border-radius: 10px;}
		.image{width:500px;height:350px;}
		.btn{border:3px solid;border-style:ridge;border-radius: 10px;width:500px;height:51px;font-size:18px;font-weight: bold;}
		.img_frame{border:5px solid;border-style: ridge;border-radius: 10px;}
	</style>
</head>
<body>
	
	<div class="container-fluid bg-secondary">
		<form  method="post" enctype="multipart/form-data">
		<div class="row sticky-top"style="background-color: navy;">
			<div class="col text-light upper">
				<h1 class="ml-4">Malaria Infected Detection</h1>
			</div>
			
		</div>
		<div class="row mt-2">
			<div class="col-3 offset-2 text-white">
				<h2>Actual image</h2>

			</div>

			<div class="col-3 offset-2 text-white">
				<h2>Predicted image</h2>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-5 offset-1">
				<div class="bg-light image img_frame">
					<img src="{{url_for('static',filename='img/doctor.jpg')}}" width="490" height="340" id="img-field">
				</div>
			</div>

			<div class="col-6">

				<div class="bg-light image img_frame">
						{% if img_loc %}
						<img src="static/image/{{img_loc}}" alt="" width="490" height="340">
						{% else %}
						<img src="static/image/malaria.png" alt="" width="490" height="340">

						{%endif%}
				</div>
			</div>
			
		</div>


		<div class="row">
			<div class="col-5 offset-1 mt-3">
				<div class="form-group">
					<input type="file" id="files" class="text-secondary" name="inp" accept="image/*" onchange="show(event)"/>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-5 offset-1 mt-1">
				<button class="btn btn-success" type="submit">Predict Image</button>
			</div>

			<div class="col-6">
				<div class="form-group">
					<textarea class="form-control" rows=1 readonly placeholder="Output here!" style="text-align: center;font-weight: bold;font-size:23px;width:500px;">{{p}}</textarea>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col text-white bg-secondary mt-3">
				@copyright malaria detection
			</div>
			
		</div>
		</form>
	</div>
	<script type="text/javascript">
		function show(event) {

			var render=new FileReader();
			var image_field=document.getElementById('img-field');
			render.onload=function()
			{
				if(render.readyState==2)
				{
					image_field.src=render.result;

				}
			}

			render.readAsDataURL(event.target.files[0]);
		}
		
	</script>

</body>
</html>